/*define by stwang 2016/09/18 */
.export_bg {
    background-color:rgba(60,60,60,0.2);
    height: 500px;
    padding-top: 70px
}
.export_title {
    background-color:rgba(0,102,204,0.7);
    width: 50%;
    margin: 0 auto;
    padding: 2% 13%
}
.export_title>span {
    text-align:center;
    color:#F0F0F0;
    font-family: monospace;
    font-size:200%;
}
.ex_body {
    width: 50%;
    background-color:rgba(191,0,96,0.6);
    margin: 5% auto
}
.date_start {
    float: left;
    margin-top: 10%;
}
.date_end {
    float: right;
    margin-top: 10%;
    margin-right: 10%
}
.date_submit {
    padding-bottom: 5%;
    padding-top: 5%;
    margin-left: 90%
}
